.block{
    padding: 100px 300px;
}
.img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header h2 {
    text-align: center;
    padding-top: 240px;
    font-size: 30px;
    color: white;

}

.header {
    background: #87509c;
    padding-bottom: 145px;
}

.content {
    text-align: center;
}

.header button {
    background: #eb7d4b;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 60px;
    text-transform: uppercase;
}
.nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header a {
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
}

.header .active{
    background: #611a74;
}
.services .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title{
    padding-bottom: 20px;
    text-align: center;
}
.title h2:after{
    content: "";
    height: 4px;
    width: 40px;
    background: black;
    display: block;
    margin: 15px auto;

}
.services .card{
    text-align: center;

}
.people h4{
    color: aqua;
}
.meet .people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.meet .people .img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.skills .chards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.portfolio .portfolios{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.portfolio button{
    background:mediumaquamarine;
    padding: 25px 50px;
    border: none;
    outline: none;
    border-radius: 3px;
}
.portfolio .button{
    text-align: center;
}
.portfolio .portfolios{
    text-align: center;
}
.portfolio .links{
    text-align: center;
}
.portfolio .links a{
    background: burlywood;
    color: white;
    padding: 6px 20px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
}
.portfolio .links .active{
    color: black;
    background: white;
}
.portfolio{
    background: blanchedalmond;
}











































